<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta />
		<title>Magic Trade</title>
		<link rel="stylesheet" href="{{STATIC_URL}}jqueryui/jquery-ui.css" />
		<script src="{{STATIC_URL}}jquery-1.9.1.js"></script>
		<script src="{{STATIC_URL}}jqueryui/jquery-ui.js"></script>
		<script src="{{STATIC_URL}}jqueryui/jquery.ddslick.min.js"></script>
		<link href="{{STATIC_URL}}toastr/toastr.css" rel="stylesheet"/>
		<script src="{{STATIC_URL}}toastr/toastr.js"></script>
		<script type="text/javascript">
			var carddata;
			var magicstring = "{{magicstring}}";

            function addToBinder() {

            }

			function gatherCard() {
				var mycardname = $("#cardNameInput").val();
				$.ajax({
					url : '/gathercard/' + $("#cardNameInput").val(),
					dataType : 'json',
					statusCode : {
						404 : function() {
							toastr.error("Unable to find/add " + mycardname);
						},
						302 : function() {}
					}
				}).done(function(data) {
					toastr.success("Added " + data + " to database");
					$("#cardNameInput").autocomplete("search");
				});
			}
			
			function setCurrentSet() {
				$('#cardSet').empty();
				var size = 0;
				for (k in carddata['sets']) {
					if (carddata['sets'].hasOwnProperty(k))
						size++;
					if (size > 1)
						break;
				}
				if (size == 1) {
					for (k in carddata['sets']) {
						$('#cardSet').append('<div class="dd-select" style="cursor: default; width: 300px; background-color: rgb(238, 238, 238); background-position: initial initial; background-repeat: initial initial;"><span class="dd-selected"><img class="dd-selected-image" src="{{MEDIA_URL}}sets/' + carddata['sets'][k]['short'] + '.jpg"><label class="dd-selected-text" style="line-height: 40px;">' + k + '</label></span></div>');
						$('#cardCareSet').hide();
						$('#cardCareSetInput').hide();
						setCurrentImage(k);
					}
				} else {
					$('#cardSet').append('<select id="cardSetDropdown"></select>')
					for (k in carddata['sets']) {
						$('#cardSetDropdown').append('<option value="' + k + '" data-imagesrc="{{MEDIA_URL}}sets/' + carddata['sets'][k]['short'] + '.jpg">' + k + '</option>');
					};

					$('#cardSetDropdown').ddslick({
						height : 400,
						width : 300,
						onSelected : function() {
							setCurrentImage($('#cardSetDropdown').data('ddslick').selectedData.value);
						}
					});
					$('#cardCareSet').show();
					$('#cardCareSetInput').show();
				}

			}

			function setCurrentImage(currentset) {
				var size = 0;
				$('#cardImage').empty();
				for (k in carddata['sets'][currentset]['cardimages']) {
					if (carddata['sets'][currentset]['cardimages'].hasOwnProperty(k))
						size++;
					if (size > 1)
						break;
				}
				if (size == 1) {
					for (k in carddata['sets'][currentset]['cardimages']) {
						$('#cardImage').append('<div class="dd-select" style="cursor: default; width: 300px; background-color: rgb(238, 238, 238); background-position: initial initial; background-repeat: initial initial;"><span class="dd-selected"><img class="dd-selected-image" src="{{MEDIA_URL}}cards/' + carddata['sets'][currentset]['cardimages'][k] + '.jpg"></span></div>');
						$('#cardCareIllu').hide();
						$('#cardImage').attr('rowspan', '3');
					}
				} else {
					$('#cardImage').append('<select id="cardImageDropdown"></select>')
					for (k in carddata['sets'][currentset]['cardimages']) {
						console.log(k);
						$('#cardImageDropdown').append('<option value="' + k + '" data-imagesrc="{{MEDIA_URL}}cards/' + carddata['sets'][currentset]['cardimages'][k] + '.jpg"></option>');
					};
					$('#cardImageDropdown').ddslick({
						height : 400,
						width : 300
					});
					$('#cardCareIllu').show();
					$('#cardImage').attr('rowspan', 4);
				}
			}

            function addBinderCard() {
                validateInputFields();
                var cardMap = new Object();

                cardMap['method'] = "addToBinder";
                cardMap['cardname'] = $("#hiddenCardName").val();
                cardMap['amount'] = $("#cardAmountInput").val();
                cardMap['foil'] = $("#cardFoilInput").val();
                cardMap['careSet'] = $("#cardCareSetInput").val();
                cardMap['set'] = $('#cardSetDropdown').data('ddslick').selectedData.value;
                cardMap['careIllu'] = $("#cardCareIlluInput").val();
                cardMap['image'] = $("#cardIlluInput").val();
                cardMap['comment'] = $("#cardCommentInput").val();

                var encodedData = urlencode64(jsonify(cardMap));

                $.ajax({
                    url : '/update/' + magicstring + '/' + encodedData,
                    dataType : 'json'
                }).done(function(data) {
                            toastr.success("Card added to binder", "Card added")
                        });

            }

            function validateInputFields() {

            }
		</script>
		<style>
			.dd-select, .dd-selected, .dd-options, .dd-selected-text {
				font-size: small;
			}
			.dd-selected-image {
				max-width: 223px;
			}
			input {
				width: 300px;
			}

		</style>
	</head>
	<body>
		<div>
			<h2>Trade Binder:</h2>
			<table>
				<tr>
					<td class="ui-widget">
						<input id="cardNameInput" /><input id="hiddenCardName" type="hidden" />
					</td>
					<td colspan="2"><a href="#" id="gatherCardButton">Fetch from Gatherer</a></td>
				</tr>
				<tr>
					<td rowspan="4" id="cardImage"></td>
					<td id="cardAmount" style="text-align: right;">Number:</td><td style="text-align: left;"><input id="cardAmountInput" type="number"/></td>
				</tr>
				<tr>
					<td id="cardFoil"  style="text-align: right;">Foil:</td><td style="text-align: left;"><input id="cardFoilInput" type="checkbox"/></td>
				</tr>
				<tr id="cardCareIllu">
					<td style="text-align: right;">Care which illustration:</td><td style="text-align: left;"><input id="cardCareIlluInput" type="checkbox" checked="checked"/></td>
				</tr>
                <tr>
                    <td><div id="cardSet" /></td><td style="text-align: right;" id="cardCareSet">I care which set:</td><td style="text-align: left;"><input id="cardCareSetInput" type="checkbox" checked="checked"/></td>
                </tr>
                <tr>
					<td id="cardComment" style="text-align: right;">Comment:</td><td style="text-align: left;"><input id="cardCommentInput" type="text"/></td>
				</tr>
			</table>
			<div>
				<a onclick="addBinderCard()" href="#">Add card to trade binder</a>&nbsp;<a onclick="addWishListCard()" href="#">Add card to trade wish list</a>
			</div>
		</div>
		<hr />
		<div>
			<h2>Communities:</h2>
			<ul>
				<li></li>
			</ul>
			<a href="#">Join community</a>
		</div>
		<script type="text/javascript">
			$("#cardNameInput").autocomplete({
				source : function(request, response) {
					$.ajax({
						url : '/cards/' + request.term,
						dataType : 'json'
					}).done(function(data) {
						response(data);
					});
				},
				response : function(event, ui) {
					
				},
				select : function(event, ui) {
					$.ajax({
						url : '/card/' + ui.item.value,
						dataType : 'json'
					}).done(function(data) {
						carddata = data;
						setCurrentSet();
					});
				}
			});

			$("#gatherCardButton").click(gatherCard);
			$("#gatherCardButton").button();
		</script>
	</body>
</html>